<div class="header">
      <div class="logo">GRADEMATE</div>
      <div class="university-name">UNIVERSITY NAME</div>
      <div class="user-info">
        <span>JOHN DOE</span>
        <div class="profile-pic"></div>
      </div>
    </div>
    <div class="container">
      <div class="sidebar">
        <div class="menu-item active" (click)="selectMenu('home')">Home</div>
        <div class="menu-item" (click)="toggleDropdown('courses')">Subjects/Courses
          <span class="dropdown-button" (click)="toggleDropdown('courses')">▼</span>
        </div>
        <div *ngIf="dropdowns['courses']" class="submenu">
          <div class="submenu-item" (click)="selectSubMenu('list-courses')">List of subjects/courses</div>
          <div class="submenu-item" (click)="selectSubMenu('add-edit-courses')">Add/edit subjects/courses</div>
          <div class="submenu-item" (click)="selectSubMenu('view-course-details')">View subject/course details</div>
        </div>
        <div class="menu-item" (click)="toggleDropdown('grade-entry')">Grade Entry
          <span class="dropdown-button" (click)="toggleDropdown('grade-entry')">▼</span>
        </div>
        <div *ngIf="dropdowns['grade-entry']" class="submenu">
          <div class="submenu-item" (click)="selectSubMenu('input-grades')">Input grades</div>
          <div class="submenu-item" (click)="selectSubMenu('edit-grades')">Edit grades</div>
          <div class="submenu-item" (click)="selectSubMenu('delete-grades')">Delete grades</div>
          <div class="submenu-item" (click)="selectSubMenu('categorize-assessments')">Categorize assessments</div>
        </div>
        <div class="menu-item" (click)="selectMenu('account')">Account</div>
        <div class="menu-item" (click)="selectMenu('notifications')">Notifications</div>
        <div class="menu-item" (click)="selectMenu('settings')">Settings</div>
      </div>
      <div class="content">
        <ng-container *ngIf="selectedSubMenu">
          <!-- Submenu content -->
        </ng-container>
        <div *ngIf="!selectedSubMenu && !selectedMenu" class="no-records">NO RECORDS FOUND</div>
      </div>
    </div>
    